<h1>Sistema de seguimiento ISO</h1>
<%= link_to 'Iniciar sesión', new_user_session_path, class: 'btn btn-lg btn-primary' unless user_signed_in? %>
<% if user_signed_in? %>
    <h1 class="text-center">
        Dashboard
    </h1>
    
    <% if current_user.admin? || current_user.department == 'mantenimiento' %>
    <div class="row">
        <div class="col-md-6">
            <%= employees_evaluations %>
        </div>
        <div class="col-md-6">
            <%= evaluation_results_per_month %>
        </div>
    </div>
    <% end %>
    <% if current_user.admin? || current_user.department == 'electricista' %>
        <div class="row">
            <div class="col-md-12">
                <%= measurements_chart %>
            </div>
        </div>
    <% end %>
<% end %>