
<div style="
      width: 80%;
      margin-left: 10%;"
>
  <div class="card" style="
      width: 70%;
      margin-left: 10%;
      margin-top: 18%;"
  >
    <div class="content">
      <div class="container-90">
        <h2>Iniciar sesión</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :login, label: false, required: false, autofocus: true, placeholder: 'Nombre de usuario' %>
            <%= f.input :password, required: false, label: false, placeholder: 'Contraseña'%>
            <%# f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Entrar", class: 'btn btn-success btn-block' %>
          </div>
        <% end %>

        <div class="login-links">
          <%# render 'devise/shared/links' %>
        </div>
      </div>
    </div>
  </div>
</div>