<h1>Editar medición</h1>

<%= render 'form', measurement: @measurement %>

<%= link_to 'Show', measurement_path(@measurement) %> |
<%= link_to 'Back', mediciones_path(@measurement.measurement_type.equipment) %>
