<h1>Measurement</h1>
<p>
  <strong>Value:</strong>
  <%= @measurement.value %>
</p>

<p>
  <strong>Measurement type:</strong>
  <%= @measurement.measurement_type.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @measurement.comment %>
</p>

<%# link_to 'Edit', edit_measurement_path(@equipment, @measurement) %>
<%= link_to 'Back', measurements_path(@equipment) %>
