<h1>Editando registro de mantenimiento de aires acondicionados</h1>

<%= render 'form', ac_maintenance: @ac_maintenance %>

<%= link_to 'Show', @ac_maintenance %> |
<%= link_to 'Back', ac_maintenances_path %>
